#The directory contains a set of configuration files within an IntelliJ project.
.idea/
#Python compile a program to bytecode first and stores it in the __pycache__.
**/__pycache__
src/main.py
data/level00.map
src/main.py
